.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div#tcwlw_widget[id="tcwlw_widget"] input[type="submit"],
div#tcwlw_widget[id="tcwlw_widget"] button[type="submit"],
div#tcwlw_widget[id="tcwlw_widget"] button.tcwlw_submit {
  width: 100%;
  max-width: 26em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_btn,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_brand_btn,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] .tcwlw_btn,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] .tcwlw_brand_btn,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_rdtPicker .tcwlw_rdtTime button,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_bg_color_primary,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_fields_wrapper .tcwlw_number_widget,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_fancy_button_list .tcwlw_fancy_btn_active,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_switcher::before,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_slider-container .tcwlw_slider-control-container .tcwlw_slider {
  background-color: rgb(94, 114, 228);
  color: rgb(255, 255, 255);
  border-color: rgb(94, 114, 228);
}

div#tcwlw_widget[id="tcwlw_widget"] a,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] a,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_font_color,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] .tcwlw_font_color,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_brand_btn_light,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] .tcwlw_brand_btn_light,
div#tcwlw_widget[id="tcwlw_widget"] #tcwlw_comparing_tire_wrapper .tcwlw_row_model_tire,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_tab a:hover,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_price_match_form .tcwlw_title,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_dropdown_value,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_select_field.tcwlw_custom_select .tcwlw_select_field_clear::after {
  color: rgb(94, 114, 228);
}

div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_border_color,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_brand_btn,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] .tcwlw_brand_btn,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_fancy_button_list .tcwlw_fancy_btn_active,
div#tcwlw_widget[id="tcwlw_widget"].tcwlw_compact .tcwlw_results_container .tcwlw_featured_tires div.tcwlw_t_row.tcwlw_tire_row,
div#tcwlw_widget[id="tcwlw_widget"].tcwlw_compact .tcwlw_results_container .tcwlw_featured_tires tr.tcwlw_tire_row .tcwlw_t_cell,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] .tcwlw_gallery .tcwlw_gallery_thumbs .tcwlw_gallery_thumb.tcwlw_selected {
  border-color: rgb(94, 114, 228);
}

div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_select_field.tcwlw_custom_select .tcwlw_select_field_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

div#tcwlw_widget[id="tcwlw_widget"] select:focus,
div#tcwlw_widget[id="tcwlw_widget"] textarea:focus,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_input_text:focus,
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="text"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="password"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="datetime"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="datetime-local"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="date"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="month"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="time"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="week"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="number"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="email"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="url"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="search"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="tel"],
div#tcwlw_widget[id="tcwlw_widget"] input:focus[type="color"],
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer .tcwlw_select_field_options input:focus,
div#tcwlw_widget_outer .tcwlw_select_field_options div#tcwlw_widget[id="tcwlw_widget"] input:focus,
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form input:focus[type=text],
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] input:focus[type=text],
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form input:focus[type=number],
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] input:focus[type=number],
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form select:focus,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] select:focus,
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form textarea:focus,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] textarea:focus,
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_auth input:focus,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_auth div#tcwlw_widget[id="tcwlw_widget"] input:focus,
div#tcwlw_widget[id="tcwlw_widget"] select.tcwlw_focus,
div#tcwlw_widget[id="tcwlw_widget"] textarea.tcwlw_focus,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_focus.tcwlw_input_text,
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="text"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="password"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="datetime"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="datetime-local"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="date"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="month"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="time"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="week"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="number"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="email"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="url"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="search"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="tel"],
div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type="color"],
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer .tcwlw_select_field_options input.tcwlw_focus,
div#tcwlw_widget_outer .tcwlw_select_field_options div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus,
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form input.tcwlw_focus[type=text],
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type=text],
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form input.tcwlw_focus[type=number],
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus[type=number],
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form select.tcwlw_focus,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] select.tcwlw_focus,
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form textarea.tcwlw_focus,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] textarea.tcwlw_focus,
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_auth input.tcwlw_focus,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_auth div#tcwlw_widget[id="tcwlw_widget"] input.tcwlw_focus {
  border-color: #2f2f2f;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  outline: 0;
  outline: thin dotted \9;
}

div#tcwlw_widget[id="tcwlw_widget"] select,
div#tcwlw_widget[id="tcwlw_widget"] textarea,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_input_text,
div#tcwlw_widget[id="tcwlw_widget"] input[type="text"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="password"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="datetime"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="datetime-local"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="date"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="month"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="time"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="week"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="number"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="email"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="url"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="search"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="tel"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="color"] {
  font-size: 1.6em !important;
  line-height: 1.2;
  width: 100%;
  margin-bottom: 1.2em;
  vertical-align: middle;
}

div#tcwlw_widget[id="tcwlw_widget"] select,
div#tcwlw_widget[id="tcwlw_widget"] textarea,
div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_input_text,
div#tcwlw_widget[id="tcwlw_widget"] input[type="text"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="password"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="datetime"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="datetime-local"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="date"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="month"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="time"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="week"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="number"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="email"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="url"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="search"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="tel"],
div#tcwlw_widget[id="tcwlw_widget"] input[type="color"],
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer .tcwlw_select_field_options input,
div#tcwlw_widget_outer .tcwlw_select_field_options div#tcwlw_widget[id="tcwlw_widget"] input,
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form input[type=text],
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] input[type=text],
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form input[type=number],
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] input[type=number],
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form select,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] select,
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form textarea,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_order_form div#tcwlw_widget[id="tcwlw_widget"] textarea,
div#tcwlw_widget[id="tcwlw_widget"] div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_auth input,
div#tcwlw_widget_outer[id="tcwlw_widget_outer"] #tcwlw_supplier_auth div#tcwlw_widget[id="tcwlw_widget"] input {
  float: none;
  background-color: #fff;
  color: #2f2f2f;
  border: 1px solid #a0a0a0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 3px rgba(54, 54, 54, 0.15);
  -moz-box-shadow: inset 1px 3px rgba(54, 54, 54, 0.15);
  box-shadow: inset 1px 3px rgba(54, 54, 54, 0.15);
  display: inline-block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: .58537em .8em .58537em .8em;
  height: 2.4em;
}

div#tcwlw_widget[id="tcwlw_widget"] div,
div#tcwlw_widget[id="tcwlw_widget"] span,
div#tcwlw_widget[id="tcwlw_widget"] iframe,
div#tcwlw_widget[id="tcwlw_widget"] h1,
div#tcwlw_widget[id="tcwlw_widget"] h2,
div#tcwlw_widget[id="tcwlw_widget"] h3,
div#tcwlw_widget[id="tcwlw_widget"] h4,
div#tcwlw_widget[id="tcwlw_widget"] h5,
div#tcwlw_widget[id="tcwlw_widget"] h6,
div#tcwlw_widget[id="tcwlw_widget"] p,
div#tcwlw_widget[id="tcwlw_widget"] blockquote,
div#tcwlw_widget[id="tcwlw_widget"] a,
div#tcwlw_widget[id="tcwlw_widget"] em,
div#tcwlw_widget[id="tcwlw_widget"] img,
div#tcwlw_widget[id="tcwlw_widget"] small,
div#tcwlw_widget[id="tcwlw_widget"] strong,
div#tcwlw_widget[id="tcwlw_widget"] ol,
div#tcwlw_widget[id="tcwlw_widget"] ul,
div#tcwlw_widget[id="tcwlw_widget"] li,
div#tcwlw_widget[id="tcwlw_widget"] fieldset,
div#tcwlw_widget[id="tcwlw_widget"] form,
div#tcwlw_widget[id="tcwlw_widget"] label,
div#tcwlw_widget[id="tcwlw_widget"] legend,
div#tcwlw_widget[id="tcwlw_widget"] table,
div#tcwlw_widget[id="tcwlw_widget"] caption,
div#tcwlw_widget[id="tcwlw_widget"] tbody,
div#tcwlw_widget[id="tcwlw_widget"] tfoot,
div#tcwlw_widget[id="tcwlw_widget"] thead,
div#tcwlw_widget[id="tcwlw_widget"] tr,
div#tcwlw_widget[id="tcwlw_widget"] th,
div#tcwlw_widget[id="tcwlw_widget"] td,
div#tcwlw_widget[id="tcwlw_widget"] article,
div#tcwlw_widget[id="tcwlw_widget"] figure,
div#tcwlw_widget[id="tcwlw_widget"] figcaption,
div#tcwlw_widget[id="tcwlw_widget"] footer,
div#tcwlw_widget[id="tcwlw_widget"] header,
div#tcwlw_widget[id="tcwlw_widget"] section,
div#tcwlw_widget_outer div,
div#tcwlw_widget_outer span,
div#tcwlw_widget_outer iframe,
div#tcwlw_widget_outer h1,
div#tcwlw_widget_outer h2,
div#tcwlw_widget_outer h3,
div#tcwlw_widget_outer h4,
div#tcwlw_widget_outer h5,
div#tcwlw_widget_outer h6,
div#tcwlw_widget_outer p,
div#tcwlw_widget_outer blockquote,
div#tcwlw_widget_outer a,
div#tcwlw_widget_outer em,
div#tcwlw_widget_outer img,
div#tcwlw_widget_outer small,
div#tcwlw_widget_outer strong,
div#tcwlw_widget_outer ol,
div#tcwlw_widget_outer ul,
div#tcwlw_widget_outer li,
div#tcwlw_widget_outer fieldset,
div#tcwlw_widget_outer form,
div#tcwlw_widget_outer label,
div#tcwlw_widget_outer legend,
div#tcwlw_widget_outer table,
div#tcwlw_widget_outer caption,
div#tcwlw_widget_outer tbody,
div#tcwlw_widget_outer tfoot,
div#tcwlw_widget_outer thead,
div#tcwlw_widget_outer tr,
div#tcwlw_widget_outer th,
div#tcwlw_widget_outer td,
div#tcwlw_widget_outer article,
div#tcwlw_widget_outer figure,
div#tcwlw_widget_outer figcaption,
div#tcwlw_widget_outer footer,
div#tcwlw_widget_outer header,
div#tcwlw_widget_outer section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  background: none;
  float: none;
  -webkit-text-size-adjust: 100%;
}

div#tcwlw_widget[id="tcwlw_widget"] div,
div#tcwlw_widget[id="tcwlw_widget"] span,
div#tcwlw_widget[id="tcwlw_widget"] iframe,
div#tcwlw_widget[id="tcwlw_widget"] h1,
div#tcwlw_widget[id="tcwlw_widget"] h2,
div#tcwlw_widget[id="tcwlw_widget"] h3,
div#tcwlw_widget[id="tcwlw_widget"] h4,
div#tcwlw_widget[id="tcwlw_widget"] h5,
div#tcwlw_widget[id="tcwlw_widget"] h6,
div#tcwlw_widget[id="tcwlw_widget"] p,
div#tcwlw_widget[id="tcwlw_widget"] blockquote,
div#tcwlw_widget[id="tcwlw_widget"] a,
div#tcwlw_widget[id="tcwlw_widget"] em,
div#tcwlw_widget[id="tcwlw_widget"] img,
div#tcwlw_widget[id="tcwlw_widget"] small,
div#tcwlw_widget[id="tcwlw_widget"] strong,
div#tcwlw_widget[id="tcwlw_widget"] ol,
div#tcwlw_widget[id="tcwlw_widget"] ul,
div#tcwlw_widget[id="tcwlw_widget"] li,
div#tcwlw_widget[id="tcwlw_widget"] fieldset,
div#tcwlw_widget[id="tcwlw_widget"] form,
div#tcwlw_widget[id="tcwlw_widget"] label,
div#tcwlw_widget[id="tcwlw_widget"] legend,
div#tcwlw_widget[id="tcwlw_widget"] table,
div#tcwlw_widget[id="tcwlw_widget"] caption,
div#tcwlw_widget[id="tcwlw_widget"] tbody,
div#tcwlw_widget[id="tcwlw_widget"] tfoot,
div#tcwlw_widget[id="tcwlw_widget"] thead,
div#tcwlw_widget[id="tcwlw_widget"] tr,
div#tcwlw_widget[id="tcwlw_widget"] th,
div#tcwlw_widget[id="tcwlw_widget"] td,
div#tcwlw_widget[id="tcwlw_widget"] article,
div#tcwlw_widget[id="tcwlw_widget"] figure,
div#tcwlw_widget[id="tcwlw_widget"] figcaption,
div#tcwlw_widget[id="tcwlw_widget"] footer,
div#tcwlw_widget[id="tcwlw_widget"] header,
div#tcwlw_widget[id="tcwlw_widget"] section,
div#tcwlw_widget_outer div,
div#tcwlw_widget_outer span,
div#tcwlw_widget_outer iframe,
div#tcwlw_widget_outer h1,
div#tcwlw_widget_outer h2,
div#tcwlw_widget_outer h3,
div#tcwlw_widget_outer h4,
div#tcwlw_widget_outer h5,
div#tcwlw_widget_outer h6,
div#tcwlw_widget_outer p,
div#tcwlw_widget_outer blockquote,
div#tcwlw_widget_outer a,
div#tcwlw_widget_outer em,
div#tcwlw_widget_outer img,
div#tcwlw_widget_outer small,
div#tcwlw_widget_outer strong,
div#tcwlw_widget_outer ol,
div#tcwlw_widget_outer ul,
div#tcwlw_widget_outer li,
div#tcwlw_widget_outer fieldset,
div#tcwlw_widget_outer form,
div#tcwlw_widget_outer label,
div#tcwlw_widget_outer legend,
div#tcwlw_widget_outer table,
div#tcwlw_widget_outer caption,
div#tcwlw_widget_outer tbody,
div#tcwlw_widget_outer tfoot,
div#tcwlw_widget_outer thead,
div#tcwlw_widget_outer tr,
div#tcwlw_widget_outer th,
div#tcwlw_widget_outer td,
div#tcwlw_widget_outer article,
div#tcwlw_widget_outer figure,
div#tcwlw_widget_outer figcaption,
div#tcwlw_widget_outer footer,
div#tcwlw_widget_outer header,
div#tcwlw_widget_outer section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  background: none;
  float: none;
  -webkit-text-size-adjust: 100%;
}

div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_select_field.tcwlw_custom_select .tcwlw_select_field_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}
div#tcwlw_widget[id="tcwlw_widget"] div, div#tcwlw_widget[id="tcwlw_widget"] span, div#tcwlw_widget[id="tcwlw_widget"] iframe, div#tcwlw_widget[id="tcwlw_widget"] h1, div#tcwlw_widget[id="tcwlw_widget"] h2, div#tcwlw_widget[id="tcwlw_widget"] h3, div#tcwlw_widget[id="tcwlw_widget"] h4, div#tcwlw_widget[id="tcwlw_widget"] h5, div#tcwlw_widget[id="tcwlw_widget"] h6, div#tcwlw_widget[id="tcwlw_widget"] p, div#tcwlw_widget[id="tcwlw_widget"] blockquote, div#tcwlw_widget[id="tcwlw_widget"] a, div#tcwlw_widget[id="tcwlw_widget"] em, div#tcwlw_widget[id="tcwlw_widget"] img, div#tcwlw_widget[id="tcwlw_widget"] small, div#tcwlw_widget[id="tcwlw_widget"] strong, div#tcwlw_widget[id="tcwlw_widget"] ol, div#tcwlw_widget[id="tcwlw_widget"] ul, div#tcwlw_widget[id="tcwlw_widget"] li, div#tcwlw_widget[id="tcwlw_widget"] fieldset, div#tcwlw_widget[id="tcwlw_widget"] form, div#tcwlw_widget[id="tcwlw_widget"] label, div#tcwlw_widget[id="tcwlw_widget"] legend, div#tcwlw_widget[id="tcwlw_widget"] table, div#tcwlw_widget[id="tcwlw_widget"] caption, div#tcwlw_widget[id="tcwlw_widget"] tbody, div#tcwlw_widget[id="tcwlw_widget"] tfoot, div#tcwlw_widget[id="tcwlw_widget"] thead, div#tcwlw_widget[id="tcwlw_widget"] tr, div#tcwlw_widget[id="tcwlw_widget"] th, div#tcwlw_widget[id="tcwlw_widget"] td, div#tcwlw_widget[id="tcwlw_widget"] article, div#tcwlw_widget[id="tcwlw_widget"] figure, div#tcwlw_widget[id="tcwlw_widget"] figcaption, div#tcwlw_widget[id="tcwlw_widget"] footer, div#tcwlw_widget[id="tcwlw_widget"] header, div#tcwlw_widget[id="tcwlw_widget"] section, div#tcwlw_widget_outer div, div#tcwlw_widget_outer span, div#tcwlw_widget_outer iframe, div#tcwlw_widget_outer h1, div#tcwlw_widget_outer h2, div#tcwlw_widget_outer h3, div#tcwlw_widget_outer h4, div#tcwlw_widget_outer h5, div#tcwlw_widget_outer h6, div#tcwlw_widget_outer p, div#tcwlw_widget_outer blockquote, div#tcwlw_widget_outer a, div#tcwlw_widget_outer em, div#tcwlw_widget_outer img, div#tcwlw_widget_outer small, div#tcwlw_widget_outer strong, div#tcwlw_widget_outer ol, div#tcwlw_widget_outer ul, div#tcwlw_widget_outer li, div#tcwlw_widget_outer fieldset, div#tcwlw_widget_outer form, div#tcwlw_widget_outer label, div#tcwlw_widget_outer legend, div#tcwlw_widget_outer table, div#tcwlw_widget_outer caption, div#tcwlw_widget_outer tbody, div#tcwlw_widget_outer tfoot, div#tcwlw_widget_outer thead, div#tcwlw_widget_outer tr, div#tcwlw_widget_outer th, div#tcwlw_widget_outer td, div#tcwlw_widget_outer article, div#tcwlw_widget_outer figure, div#tcwlw_widget_outer figcaption, div#tcwlw_widget_outer footer, div#tcwlw_widget_outer header, div#tcwlw_widget_outer section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    background: none;
    float: none;
    -webkit-text-size-adjust: 100%;
}
div#tcwlw_widget[id="tcwlw_widget"] div:empty,
div#tcwlw_widget_outer div:empty {
  display: block;
}
.dropsearch{
  user-select: none;
  position: absolute;
  padding :10px 5px!important;
  left: 0;
  width: 100%;
  top: 100%;
  background: #fff!important;
  border: 1px solid #a0a0a0!important;
  z-index: 1;
  text-align: center;
}
div#tcwlw_widget[id="tcwlw_widget"] ul li, div#tcwlw_widget_outer ul li {
  list-style: none;
  padding: 0 0.5em;
  cursor: default;
  color: #000;
  font-size:15px !important;
}
div#tcwlw_widget[id="tcwlw_widget"] ul li.tcwlw_select_field_active_option {
  background: #347AB7;
  color: #fff;
}
.visible {
  display: block;
}

.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.react-select__control {
  height: 40px;
  border: 1px solid #ccc;
}

.react-select__menu {
  font-size: 16px;
}

.react-select__option {
  padding: 10px;
}

.react-select__option--is-selected {
  background-color: #ccc;
}

@media only screen and (max-width : 768px) {
  div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_fields_wrapper .tcwlw_columns {
    /* -webkit-flex-direction: column; */
    flex-direction: column;
  }

  div#tcwlw_widget[id="tcwlw_widget"] .tcwlw_fields_wrapper .tcwlw_columns>* {
    width: 100%;
  }
}